<% if flash %>
  <section class="container">
    <div class="row">
      <div class="col-md-4 col-md-offset-4 text-lg-center">
        <% flash.each do | message_type, message| %>
        <%= content_tag(:div, message, class: "alert alert-#{message_type}") %>
        <% end  %>
      </div>
    </div>
  </section>
<% end %>
